@model IEnumerable<fundaPaginaWeb.Models.Producto>

@{
    ViewBag.Title = "Index";
}
    <div id="store" class="col-md-9">
        <div class="row">

            @{
                foreach (var item in Model)
                {
                    <!-- product -->
                    using (Html.BeginForm("Index", "Home"))
                    {
            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <form action="#" method="post">
                        <div class="product-img">
                            <img src=@item.dImagen alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">@item.nNombre</a></h3>
                            <h4 class="product-price">@item.nPrecio</h4>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-btns">

                                @Html.ActionLink(" ", "AddFav", "SearchProducto", new { img = item.dImagen, nmbre = item.nNombre, pr = item.nPrecio }, new { @class = "fa fa-heart-o" })

                            </div>
                        </div>
                        <div class="add-to-cart">
                            <!--<input type="submit" value="Agregar a Lista" />-->
                            <!--<buttoddsn class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar a lista</button>-->

                            @Html.ActionLink("A Favorito", "AddFav", "SearchProducto", new { img = item.dImagen, nmbre = item.nNombre, pr = item.nPrecio }, new { @class = "add-to-cart-btn fa fa-shopping-cart" })

                        </div>
                    </form>
                </div>
            </div>
                    }
                }

            }

        </div>
    </div>